<div class="row">
 <div class="col-12">
    <div class="card mb-4">
     <div class="card-body" [ngClass]="{noProdAval : !mobileObj.isAvailable}">
      <div class="row">
       <div class="col-md-4">
     <div class="img-container mb-4">

                            <img *ngIf="mobileObj.image; else noImg" [src]="mobileObj.image" [alt]="mobileObj.name"
                                [title]="mobileObj.name" class="w-100">

                            <ng-template #noImg>
                                <p class="noImgtext">
                                    No Image
                                </p>
                            </ng-template>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button [disabled]="!mobileObj.isAvailable" class="btn btn-outline-warning">
                                Add to Cart
                            </button>
                            <button [disabled]="!mobileObj.isAvailable" class="btn btn-outline-primary">
                                Buy Now
                            </button>
                            <button [disabled]="!mobileObj.isAvailable" class="btn btn-outline-primary">
                               Buy With EMI
                            </button>
                        </div>

       </div>
                   
       
                    <div class="col-md-6">
                        <h2>{{mobileObj.name}}
                            <small class="badge" [ngClass]="{
                'badge-success' : mobileObj.rating >= 4,
                'badge-warning' : mobileObj.rating >= 3 &&  mobileObj.rating < 4,
                'badge-danger' : mobileObj.rating < 3
            }">
                                {{mobileObj.rating}}</small>
                        </h2>

                   <h4>Features</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let feature of mobileObj.features">
                                {{feature}}

                            </li>
                        </ul>
                    </div>



                    <div class="col-md-2">
                        <h3 class="font-weight-bold">{{mobileObj.price - (mobileObj.price * 0.15) | currency : 'INR'}}
                            <br>
                            <small>
                                <del> {{mobileObj.price | currency: 'INR'}}</del>
                            </small>
                        </h3>
                        <strong class="text-success" *ngIf="mobileObj.noOfItems < 10">
                            Only {{mobileObj.noOfItems}} Left !!!
                        </strong>
                           <button [disabled]="!mobileObj.isAvailable" class="btn btn-outline-warning mt-5">
                              Add to Wishlist
                            </button>

                    </div>
                </div>
            </div>
            <p class="text-danger isNotAvailable" *ngIf="!mobileObj.isAvailable">
                Product is not available
            </p>
        </div>
    </div>
</div>