
@mixin flex-center($justify : center, $align : center){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

.img-container{
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .noImgtext {
        width: 100%;
        height: 100%;
        background-color: #ededed;
       @include flex-center

    }
}

.noProdAval{
    filter : blur(1px) grayscale(1)
}

.isNotAvailable {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: 700;
    @include flex-center
   

}